<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Lista de Acontecimentos</h1>
    <div class="buttons buttons-right header-item">
      
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <datasource name="" entity="" keys="" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill="" data-component="crn-datasource" class="component-holder"></datasource><div class="component-holder ng-binding ng-scope" data-component="crn-list" id="listAct"><div class="list" crn-datasource="" ng-repeat="rowData in datasource.data"><ion-item class="item dark">Título</ion-item></div></div></ion-content>
</ion-view>